[Unit]
Description=Run GCS music sync every hour
Requires=contabo-storage-sync.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
